<section>
        <section id="home" class="bg padding-top" >
    <div class="container">
        {{#if me}}
        <div class="row">
        <div class="col-md-8"><h1 class="ms-3 mt-5 gradient-text">Hi' </h1>
        <p class="ms-5 col-md-8" >"Success is the result of perfection, hard work, learning from failure, loyalty, and persistence"</p>
        <a class="button-outline ms-5" href="/#todo" ><i class="fas fa-clipboard-list"></i> To Do Today</a>
        </div>
        <div class="col-md-4 mt-5" style="display: flex;align-items: center;justify-content: center;"><i class="fas fa-fingerprint gradient-text" style="font-size: 150px;" ></i></div>
        </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-md-8"><h1 class="ms-3 mt-5 gradient-text">To Do App</h1>
        <p class="ms-5" >If you do not know the password for Login. Get out of here fast</p>
        <a href="/#login" class="button-outline ms-5" ><i class="fas fa-fingerprint"></i> Login</a></div>
        <div class="col-md-4 mt-5" style="display: flex;align-items: center;justify-content: center;"><i class="fas fa-fingerprint gradient-text" style="font-size: 150px;" ></i></div>
        </div>
        {{/if}}
    </div>
    <div class="mixture" ></div>
    </section>
    {{#if me}}
    <section id="todo" class="" >
        <div class="mixture-inv"></div>
   <div class="container">
        <a href="/new" class="button-outline mb-5 float-start" style="width: 100%;" >New</a>
        {{#if program}}
        <h3 class="text-center mb-5 gradient-text" style="font-size: 25px;" ><i class="fas fa-clipboard-list"></i> To Do Today</h3>
      <div class="outline">
            <p class="float-end">Data: {{program.date}}</p>
            <ol class="mt-5 box">
               {{#each program.program}}
                <li class="mt-3" >
                   <p>{{this.text}}</p> 
                   <button onclick="doneProgram('{{this.text}}','{{../program._id}}')" class="button-outline-success">Done</button>
                   <button class="button-outline-danger" onclick="dropProgram('{{this.text}}','{{../program._id}}')" >Drop</button>
                </li>
               {{/each}}
            </ol>
        </div>
        {{else}}
        <h6 class="text-center mb-5"><i class="fas fa-clipboard-list"></i> You are already completed your programs</h6>
        {{/if}}
    </div>
    <div class="mixture"></div>
</section>
    {{else}}
        <section id="login" class="mt-5 mb-5" >
            <div class="mixture-inv"></div>
       <div class="container">
           <h3 class="text-center mb-3 gradient-text"><i class="fas fa-fingerprint"></i> Login</h3>
           <form  id="login-verification"  >
               <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                   <h6 class="text-danger" id="login-err" ></h6>
               <div class="input" ><i class="fas fa-lock"></i><input type="password" name="password" placeholder="Password" ></div>
               <button type="submit" class="button-outline mt-3" ><i class="fas fa-fingerprint"></i> Login</button>
               </div>
           </form>
       </div>
       <div class="mixture"></div>
    </section>
    {{/if}}
</section>